:root{
    --black: #222831;
    --cinza: #393E46;
    --ciano:  #00ADB5;
    --branco: #EEEEEE;
}
header {
    display: flex;
    width: 100%;
    background-color:var(--cinza);
    padding: 1rem;
    position: relative;
    justify-content: center;
}
.menu-disciplina{
    width: 20%;
    display: inline-block;
}
.botao-disciplina{
    cursor: pointer;
    font-size: 2rem;
    background-color: none;
    background-color:var(--ciano) ;
    border: none;
    padding: 1.05rem 1.5rem;
    color: var(--branco);
}
#menu-toggle{
    display: none;
}
