:root{
    --black: #222831;
    --cinza: #393E46;
    --ciano:  #00ADB5;
    --branco: #EEEEEE;
}
header {
    display: flex;
    width: 100%;
    background-color:var(--cinza);
    padding: 1rem;
    position: relative;
    justify-content: center;
}
.menu-disciplina{
    width: 20%;
    display: inline-block;
}
 
.lista-vertical a:hover{
    background-color: var(--ciano);
}
#menu-toggle:checked ~ .lista-vertical{
    display: block;
}
#menu-toggle:checked + .botao-disciplinas{
    background-color: var(--black);

}