:root{
    --black: #222831;
    --cinza: #393E46;
    --ciano:  #00ADB5;
    --branco: #EEEEEE;
}
.header{
    display: flex;
    width: 100%;
    background-color:var(--ciano);
    padding: 2rem;
    position: relative;
    justify-content: center;
}
.botao-disciplina{
    cursor: pointer;
    font-size: 2rem;
    background-color: none;
    background-color:var(--ciano) ;
    border: none;
    padding: 1.05rem 1.5rem;
    color: var(--branco);
}
#menu-toggle{
    display: none;
}
.lista-vertical a:hover{
    background-color: var(--ciano);
}
#menu-toggle:checked ~ .lista-vertical{
    display: block;
}
#menu-toggle:checked + .botao-disciplinas{
    background-color: var(--black);


}



