:root{
    --black: #222831;
    --cinza: #393E46;
    --ciano:  #00ADB5;
    --branco: #EEEEEE;
}
header {
    display: flex;
    width: 100%;
    background-color:var(--ciano);
    padding: 2rem;
    position: relative;
    justify-content: center;
}
.botao-disciplina{
    cursor: pointer;
    font-size: 2rem;
    background-color: none;
    background-color:var(--ciano) ;
    border: none;
    padding: 1.05rem 1.5rem;
    color: var(--branco);
}
#menu-toggle{
    display: none;
}
.lista-vertical{
    display: none;
    position: absolute;
    background-color: var(--branco);
    box-shadow: 0 2px 5px var(--black);
    min-width: 190px;
    z-index: 1;
    left: 1rem;
    top: 100%;
}

